a{
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
}


ul{
    display: flex;
    justify-content: space-around;
    background-color: black;
    }


a{
    font-size: 50px;
    color: yellow;
    }


.githublink{
    color: red;
}

.linkedinlink{
    color: blue;
}

body{
    background-color: lightblue;
}

h1{
    color: crimson;
}